RewriteEngine On
RewriteCond  %{REQUEST_FILENAME} !-f
RewriteCond  %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !\.(?:css|js|jpe?g|gif|png)$ [NC]
RewriteCond %{QUERY_STRING} (.*) 

RewriteRule "home.html" "?"
RewriteRule "login.html" ?mod=users&action=login
RewriteRule "logout.html" ?mod=users&action=logout


RewriteRule ^([a-zA-Z0-9_-]+).html$ index.php?mod=post
RewriteRule ^bai-viet/([a-zA-Z0-9_-]+)-([0-9]+).html$ index.php?mod=post&action=detail&id=$2&slug=$1
RewriteRule ^bai-viet/([0-9]+).html$ index.php?mod=post&action=detail&id=$1